@import "tailwindcss";
@import "../../../../app/atom-search-variables.css";
@import "@crayonai/react-ui/styles/index.css";

/* Background: grid + subtle vignette (white center, light-grey corners) */
.atom-search-bg {
  background-color: #f2f2f2;
  background-image: url("/atom-search/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
