.c1Container {
  display: flex;
  flex-direction: column;
  width: 700px;
  flex: 1 1 auto;
  min-height: 0;
  overflow: visible;
  background-color: var(--container-fill);

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (max-width: 768px) {
    width: 100%;
  }

  :global(.c1-think-container) {
    :global(.crayon-step-title) {
      opacity: 0.6;
      font-size: 16px !important;
    }

    :global(.crayon-step-details) {
      font-size: 14px !important;
    }
  }

  :global(.crayon-follow-up-item) {
    text-align: left;
  }
}
